@media (max-width: rem(1200)) {
  html {
    font-size: 13px;
  }
}
@media (max-width: rem(1024)) {
  html {
    font-size: 10px;
  }
}
@media (max-width: rem(767)) {
  html {
    font-size: 7px;
  }
}
@media (max-width: rem(530)) {
  html {
    font-size: 18px;
  }
  .container {
    width: 100%;
  }
}
@media (max-width: rem(380)) {
  html {
    font-size: 16px;
  }
}
@media (max-width: rem(335)) {
  html {
    font-size: 14px;
  }
}